<div class="container">
    <div class="row">
        <div class="col-md-6">
            <fieldset class="form-group" ng-if="myInfoCtrl.userInfo">
                <legend class="col-form-legend">My Info</legend>
                <div class="form-group">
                    First Name: {{myInfoCtrl.userInfo.firstName}}
                </div>
                <div class="form-group">
                    Last Name: {{myInfoCtrl.userInfo.lastName}}
                </div>
                <div class="form-group">
                    Email: {{myInfoCtrl.userInfo.email}}
                </div>
                <div class="form-group">
                    Phone number: {{myInfoCtrl.userInfo.phone}}
                </div>
                <div class="form-group">
                    Favorite dish: <h4>{{myInfoCtrl.userInfo.favoriteDish.name}} [{{myInfoCtrl.userInfo.favoriteDish.short_name}}]</h4>
                    <p>{{ myInfoCtrl.userInfo.favoriteDish.description }}</p>
                    <img ng-src="https://gcatal.herokuapp.com/images/{{myInfoCtrl.userInfo.favoriteDish.short_name}}.jpg" alt="{{myInfoCtrl.userInfo.favoriteDish.short_name}}" class="pull-right">
                </div>
            </fieldset>
            <div ng-if="!myInfoCtrl.userInfo">
                <a ui-sref="public.signup">Not Signed Up Yet. Sign up Now!</a>
            </div>
        </div>
    </div>
</div>